.loginPage {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginPageHero {
  display: none;
}
@media only screen and (min-width: 481px) {
  .loginPageHero {
    flex: 1;
    height: 100vh;
    position: relative;
    display: block;
  }
}
@media only screen and (min-width: 991px) {
  .loginPageHero {
    flex: 2;
  }
}

.loginPageWrapper {
  flex: 1;
  padding: 0 var(--spacing-m);
}
